@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
<!-- -->
*{
    font-family: 'Poppins' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;/*not compatible with safari*/
}

header {
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px ;
}
.logoz{
    color: blue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    display: flex;
    justify-content: center;

}
/*
.projtit{
    display:flex;
    justify-content: center;
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    padding: 20px 20px;
}*/

#lawla{
    padding: 50px 120px;
}
section {
    padding: 100px 200px;
}

hr{
    height: 1px;
    background-color: #3a6cf4;
    border: none;
    margin-top: 0;
    padding-top: 0;
}


/*---------------Part1 bio---------------------- */

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

/*---------------Part2 Card1 Services---------------------- */
.cards {
    background-color: #b4cf02;
}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap:wrap;
}

.cards .card {
    background-color: #fff;
    width: 25.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}



.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}



/*---------------Part3----------------------*/
.projects {
    background-color: #000016;
}
#toto{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    margin-bottom: 0;
}
#toto a{
    padding-bottom: 0;
    margin-bottom: 0;
}
#toto a h3{
    color: orange;
    text-decoration: underline;
    font-weight: 1.1em;
    font-size: 1.2em;
    padding-bottom: 0;
    margin-bottom: 0;
}


.content2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap:wrap;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid rgb(254, 254, 254);
    min-height: 14em;
    width: 15em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

 .project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.more-details {
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover {
    color: #601cfc;
}


/*--------------------PART5----------------------*/

.footer {
    background-color: #b4cf02;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #3a6cf4;
}

.footer .social-icons a{
    font-size: 1.7em;
    padding: 0 12px 0 0;
}




/*--------------------PART6----------------------*/
@media (max-width:750px){
    body{
        font-size: 9px;
    }

    section{
        padding: 80px 20px;
    }    

    .content{
        flex-direction: column;
        align-items: center;
    }
    .content2{
        flex-direction: row;
        align-items: center;
    }

    .social-icons a {
        padding-right: 10px;
    }

    .social-icons img{
        height: 14px;
    }
    
}


@media (max-width:450px){
    .cards .card {
        width: 15.25em;
        
    }
}
/*
@media (max-width:641px){
    .profilpic{
        height: 110px;
        width: 120px;
    }
    body{
        font-size: 9px;
    }

    .deux h2{
        font-size: 1em;
    }

    .deux h3{
        font-size: 1.4em;
    }
    .social-icons img{
        height: 11px;
        width: 12px;
    }
}

@media (max-width:300px){
    body{
        font-size: 7px;
    }

    .profilpic{
        height: 110px;
        width: 120px;
    }
}